/*-----------------------------------------------------------------------------
/
/ BASE
/
/-----------------------------------------------------------------------------*/

 body {
  background-color: #D6D1B1;
 }

ol > li {
  margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------
/
/ LAYOUT
/
/-----------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------
/
/ MODULE
/
/-----------------------------------------------------------------------------*/

.side-nav {
  background-color: #C7EFCF;
}

#mainlogo {
  padding: 70px 0;
  background-color: #FE5F55;
  color: #EEF5DB
}

.card {
  background-color: #EEF5DB;
  width: 100%;
  padding: 10px;
  margin-top: 13%;
}

canvas {
  box-shadow: none; 
  border: 2px dashed #D6D1B1;
  border-radius: 10px;
}

/*-----------------------------------------------------------------------------
/
/ STATE
/
/-----------------------------------------------------------------------------*/

.active {
  background-color: rgba(85,95,25, 0.3)
}