.btn {
  background-color: #EE6E73
}

.card {
  width: 100%;
  padding: 10px;
  margin-top: 13%;
}

.card .card-image img {
  width: initial;
}

canvas {
  box-shadow: none; 
  border: 2px dashed #aaa;
}

ol > li {
  margin-bottom: 10px;
}