/*-----------------------------------------------------------------------------
/
/ BASE
/
/-----------------------------------------------------------------------------*/

 body {
  background-color: #C7EFCF;
 }

ol > li {
  margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------
/
/ LAYOUT
/
/-----------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------
/
/ MODULE
/
/-----------------------------------------------------------------------------*/

.side-nav li:hover {
  background-color: #d6d1b1;
}

#mainlogo {
  padding: 70px 0;
  background-color: #FE5F55;
  color: #EEF5DB;
}

.card {
  background-color: #EEF5DB;
  width: 100%;
  padding: 40px 10px 10px 10px;
  margin-top: 13%;
}

.card .card-image img {
  width: initial;
}

canvas {
  box-shadow: none; 
  border: 2px dashed #D6D1B1;
  border-radius: 10px;
}

/*-----------------------------------------------------------------------------
/
/ STATE
/
/-----------------------------------------------------------------------------*/

.active {
  background-color: rgba(85,95,25, 0.3)
}